body {
    background-color: orangered;
    margin: 0;
    font-family: rubik;
    color: white;
  }
  .container {
    padding: 40px;
    margin: 0 auto;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
  } 
   
  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
  }

  .pokemonTarget {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 30px;
    background-color: gray;
    max-width: 400px;
  }

  .pokemonTarget p div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 5px;
  }

  form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

h1 {
  cursor: pointer;
}

.imagen_sombra{
  width: 95px;
  height: 95px;
}

.ajuste {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-top: 5px;
}